<div id="app-details-view">
<div class="app-details-view-filter-container">
<div ngbDropdown class="d-inline-block">
  <button id="dropdownBasic2" ngbDropdownToggle>{{row.length}} selected {{secoundryLabel}}</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic2" (click)="$event.stopPropagation()">
    <div class="ngx-tree">
      <div class="ngx-tree-left col-6">
        <!-- <ngx-treeview [items]="items | ngxTreeview:'name'" [itemTemplate]="itemTemplate" [config]="config" -->
         <ngx-treeview [items]="items" [itemTemplate]="itemTemplate" [config]="config"             
       
          (selectedChange)="onSelectedChange($event)">
        </ngx-treeview>
      </div>
      <div class="ngx-tree-right col-6 ">
        <p>Selections</p>
        <ul>
          <li *ngFor="let i of row">{{i.text}}
            <img src="" />
          </li>
        </ul>       
      </div>
    </div>
   
  </div>
</div>
</div>
</div>